{% extends 'base.html.twig' %}

{% set link_to_home = '../' %}
{% set active = {link:'Resources', sub_link:'Equipment'} %}

{% block title %}Equipment{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/spacebitresources/css/resources-theme.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/spacebitresources/js/resources-equipment.js') }}"></script>
{% endblock %}

{% block body %}

    <form role="form" class="col-lg-12">
        <div class="container col-lg-6">
            <div class="form-group ">
                <label for="sel1">Faculty :</label>
                <!--give id to select-->
                <select id="faculty" class="form-control" name="value" onchange="loadDepartments();">
                    <option disabled selected>--Please select a faculty--</option>;
                    {% for fac in facNames %}
                        <option value="{{ fac.faculty_name }}"> {{ fac.faculty_name }}</option>;
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="container col-lg-6">
            <div class="form-group ">
                <label for="sel1">Department :</label>
                <select class="form-control"  id="department" onchange="loadEquipmentByCategory()" disabled></select>
            </div>
        </div>
    </form>

    <div class="col-lg-12 row">
        <div id="equipmentTableContent" class="{% if app.session.get('user_id') is empty %}col-lg-12{% else %}col-lg-9{% endif %}"></div>

        {% if app.session.get('user_id') is not empty %}
            <div class="container col-lg-3" style="text-align: center; padding: 30px 0px 50px 0px;">
                <div class="panel panel-info">
                    <div class="panel-heading">Upcoming Requests</div>
                    <div class="panel-body">
                        <ul class="list-group">
                            {% for request in future_requests %}
                                {% if request.status == 0 %}
                                    {% set status_color = 'danger' %}
                                {% elseif request.status == 1 %}
                                    {% set status_color = 'success' %}
                                {% elseif request.status == 2 %}
                                    {% set status_color = 'warning' %}
                                {% endif %}
                                <li class="list-group-item list-group-item-{{ status_color }}">{{ request.type }} on {{ request.date_from }} to {{ request.date_to }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="panel-footer"><a onclick="showPastRequestsModal();">View all Requests >></a></div>
                </div>
            </div>
        {% endif %}
    </div>

    <div id="modalArea" class="modal fade" role="dialog" align="left">
        <div class="modal-dialog" class="container col-lg-offset-6">
            <div class="modal-content">
                <div style="margin: 20px;" id="equipmentModal">

                </div>
            </div>
        </div>
    </div>

    <div id="request-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div style="margin: 20px;" id = "equipmentModalContent">
                    <h2 style="text-align: center;">Request</h2>
                    <form id="request-form" role="form" method="POST" name="request-form" onsubmit="addRequest(); return false;">
                        <div class="form-group" id="request-id-container" style = 'display: none'>
                            <label for="request-id" hidden="true">Request ID :</label>
                            <input type = "hidden" id="request-id" type="number" name="request-id" class="form-control" onkeypress="onAddRequestFormKeyPress(event);" disabled />
                        </div>


                        <div class="form-group">
                            <label for="request-date-From">Date From:</label>
                            <input id="request-date-From" type="date" min="{{ 'now' | date('Y-m-d') }}" name="request-date-From" class="form-control" onchange="document.getElementById('request-date-To').setAttribute('min', this.value);" required />
                        </div>

                        <div class="form-group">
                            <label for="request-date-To">Date To:</label>
                            <input id="request-date-To" type="date" min="{{ 'now' | date('Y-m-d') }}" name="request-date-To" class="form-control" onkeypress="onAddRequestFormKeyPress(event);" required />
                        </div>

                        <div class="form-group">
                            <label for="request-time-From">Time From:</label>
                            <input type="time" name="request-time-From" min="{{ 'now' | date('G-i-s') }}" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label for="request-time-To">Time To:</label>
                            <input type="time" name="request-time-To"  min="{{ 'now' | date('G-i-s') }}" id = "request-time-To" class="form-control" required />
                        </div>

                        <div class="form-group">
                            <label for="request-time" hidden="true">Equipment Status: </label>
                            <label for="request-passenger-count" hidden="true">Time slot: availability:</label>
                        </div>
                        <button id="submit-button" name="submit-button" type="submit" class="btn btn-sm btn-success">Request</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="my-past-requests-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div style="margin: 20px;">
                    <h3 style="text-align: center;">My Past Equipment Requests</h3>
                    <div style="margin: 10px;">
                        <table  class="table table-hover" style="padding: 20px" id="past-request-table-content"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="message-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div style="margin: 20px;" id="message-modal-content"></div>
            </div>
        </div>
    </div>
    {% include 'templates/loading.html.twig' %}
{% endblock %}