{% extends 'base.html.twig' %}

{% set link_to_home = '../' %}
{% set active = {link:'Admin'} %}

{% block title %}Admin{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/spacebitadmin/css/admin-home.css') }}">
{% endblock %}

{% block body %}
    <div class="row" style="width: 100%; text-align: center; padding: 50px;">
        <div class="col-lg-4 portfolio-item" style="margin: 0 auto;">
            <div class="portfolio-wrapper">
                <img class="img-portfolio" src="{{ asset('bundles/spacebitadmin/images/admin_manager_equipment_request.png') }}" alt="Manage Equipment Requests" onclick="window.location.href = './equipment'" />
                <h4 class="text-label">Manage Equipment{% if(equipment_request_count > 0) %} ({{ equipment_request_count }}){% endif %}</h4>
            </div>
        </div>
        <div class="col-lg-4 portfolio-item" style="margin: 0 auto;">
            <div class="portfolio-wrapper">
                <img class="img-portfolio" src="{{ asset('bundles/spacebitadmin/images/admin_manager_venues_request.jpg') }}" alt="Manage Venue Requests" onclick="window.location.href = './venues'" />
                <h4 class="text-label">Manage Venues{% if(venues_request_count > 0) %} ({{ venues_request_count }}){% endif %}</h4>
            </div>
        </div>
        <div class="col-lg-4 portfolio-item" style="margin: 0 auto;">
            <div class="portfolio-wrapper">
                <img class="img-portfolio" src="{{ asset('bundles/spacebitadmin/images/admin_manager_vehicles_request.png') }}" alt="Manage Vehicle Requests" onclick="window.location.href = './vehicles'" />
                <h4 class="text-label">Manage Vehicles{% if(vehicles_request_count > 0) %} ({{ vehicles_request_count }}){% endif %}</h4>
            </div>
        </div>
    </div>
{% endblock %}