{% extends 'base.html.twig' %}

{% block title %}Manage Vehicles{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/spacebitadmin/js/vehiclesAdmin.js') }}"></script>
{% endblock %}

{% block body %}
    {% set link_to_home = '../' %}
    {% set active = {link:'Admin', sub_link:'Manage Vehicles'} %}
    {% include 'templates/navbar.html.twig' %}

    <div style="margin: 10px;">
        <button class="btn btn-sm btn-primary" onclick="showManageVehiclesModal();">Manage Vehicles</button>
    </div>

    <h2 style="text-align: center; padding-bottom: 10px">Vehicle Requests</h2>
    <table class="table table-hover" style="padding: 20px">
        <tr><th>Request Id</th><th>Requester</th><th>Requested date</th><th>Requested Time</th><th>Number of Passengers</th><th>Requested Type of Vehicle</th><th>Requested Destination</th><th>Status</th><th></th></tr>
        {% set request_status = ['Declined', 'Accepted', 'Pending'] %}
        {% for vehicle_request in vehicle_requests %}
            <tr>
                <th>{{ vehicle_request.request_id }}</th>
                <th>{{ vehicle_request.user_id }}<br><button class="btn btn-xs btn-info" onclick="showUserModal('{{ vehicle_request.user_id }}')">View User</button></th>
                <th>{{ vehicle_request.date }}</th>
                <th>{{ vehicle_request.time }}</th>
                <th>{{ vehicle_request.number_of_passengers }}</th>
                <th>{{ vehicle_request.requested_type }}</th>
                <th>{{ vehicle_request.requested_town }}</th>
                <th>{{ request_status[vehicle_request.status] }}</th>
                {% if vehicle_request.status != 1 %}
                    <th><button class="btn btn-xs btn-success" onclick="$('#acceptVehiclesModal').modal();">Accept</button></th>
                {% elseif "now"|date('Y-m-d') < vehicle_request.date|date('Y-m-d') %}
                    <th><button class="btn btn-xs btn-danger" onclick="changeRequest('{{ vehicle_request.request_id }}', false)">Decline</button></th>
                {% else %}
                    <th><button class="btn btn-xs btn-default" disabled>Past Request</button></th>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

    <div id="messageModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div style="margin: 20px;" id="messageModalContent"></div>
            </div>
        </div>
    </div>

    <div id="manageVehiclesModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div style="margin: 20px;">
                    <h3 style="text-align: center;">Manage Vehicles</h3>
                    <div style="margin: 10px;">
                        <button class="btn btn-sm btn-primary" onclick="showAddVehicleModal();">Add Vehicle</button>
                        <div id="manageVehiclesModalContent" style="padding: 20px;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="acceptVehiclesModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div style="margin: 20px;">
                    <h3 style="text-align: center;">Accept Vehicle Request</h3>

                </div>
            </div>
        </div>
    </div>

    <div id="addEditVehicleModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div style="margin: 20px;">
                    <button class="btn btn-xs btn-primary" onclick="showManageVehiclesModal(); $('#addEditVehicleModal').modal('hide');">Back</button>
                    <h3 id="addEditVehicleTitle" style="text-align: center;">Add Vehicle</h3>
                    <form id="add-vehicle-form" role="form" method="POST" name="vehicle-add-form" onsubmit="addEditVehicle(); return false;">
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="plate-no">Plate No :</label>
                                <input type="text" id="plate-no" class="form-control" name = "plate-no" placeholder="Enter Plate No" required />
                            </div>
                            <div class="form-group col-lg-6">
                                <label for="type">Vehicle Category :</label>
                                <input type="text" id="type" class="form-control" name = "type"  placeholder="Enter the Vehicle Category" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="model">Vehicle Model :</label>
                            <input type="text" id="model" class="form-control" name = "model" placeholder="Enter Model of the Vehicle" required />
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="capacity">Capacity of the Vehicle :</label>
                                <input type="number" id="capacity" class="form-control" id="capacity" name = "capacity" placeholder="Enter the Capacity of the Vehicle" required />
                            </div>
                            <div class="form-group col-lg-6">
                                <label for="value">Appraised Value :</label>
                                <input type="numeric" class="form-control" id="value" name = "value" placeholder="Enter the Value of the vehicle" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label><input type="checkbox" id="availability" name = "availability">Vehicle is Available</label>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="driver-first-name">Driver's First Name :</label>
                                <input type="text" id="driver-first-name" class="form-control" name = "driver-first-name" placeholder="Enter the First Name of the designated Driver" required />
                            </div>
                            <div class="form-group col-lg-6">
                                <label for="driver-last-name">Driver's Last Name :</label>
                                <input type="text" id="driver-last-name" class="form-control" name = "driver-last-name" placeholder="Enter the Last name of the designated Driver" required />
                            </div>
                        </div>
                        <input id="submit-button" type="submit" class="btn btn-sm btn-success" value="Add">
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% include 'templates/admin/view-user.html.twig' %}
{% endblock %}